<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="popular" #popular>
      <ion-icon [name]="popular.selected ? 'star' : 'star-outline'"></ion-icon>
      <ion-label>Popular</ion-label>
    </ion-tab-button>
    

    <ion-tab-button tab="trending" #tab2>
      <ion-icon [name]="tab2.selected ? 'trending-up' : 'trending-up-outline'"></ion-icon>
      <ion-label>Trending</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorite" #tab3>
      <ion-icon [name]="tab3.selected ? 'flag' : 'flag-outline'"></ion-icon>
      <ion-label>Favorite</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>