<ion-header>
  <ion-toolbar>
    <ion-title>MOVIE ADMINSTRATION</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button tab="dashboard" routerLinkActive="routerLinkActive" #popular>
          <ion-icon [name]="popular.selected ? 'star' : 'star-outline'"></ion-icon>
          <ion-label>Dashboard</ion-label>
        </ion-tab-button>
        
        <ion-tab-button tab="movies" routerLinkActive="routerLinkActive" #tab2>
          <ion-icon [name]="tab2.selected ? 'trending-up' : 'trending-up-outline'"></ion-icon>
          <ion-label>Movies</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="subscriptions" #tab3>
          <ion-icon [name]="tab3.selected ? 'flag' : 'flag-outline'"></ion-icon>
          <ion-label>Subscriptions</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="users" #tab4>
          <ion-icon [name]="tab4.selected ? 'flag' : 'flag-outline'"></ion-icon>
          <ion-label>Users</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <router-outlet></router-outlet>
</ion-content>

