<ion-header [translucent]="true">
  <app-profilebar></app-profilebar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons class="ion-margin-start" slot="start">
        <ion-icon style="font-size: 48px" name="play-circle"></ion-icon>
      </ion-buttons>
      <ion-title>
        Trending Movies
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <app-subscriptionpaypal></app-subscriptionpaypal>
  <!-- <section>
    <app-subscribe></app-subscribe>
  </section> -->
  
  <section>
    <app-slider [sliderInputValue] = "sliderContainer"></app-slider>
  </section>
</ion-content>
