<ion-header [translucent]="true">
  <app-profilebar></app-profilebar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-button class="ion-margin-start" slot="start">
        <ion-icon style="font-size: 48px" name="play-circle"></ion-icon>
      </ion-button>
      <ion-title style="text-align: center;">
        Trending Movies
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <app-subscriptionpaypal *ngIf="!isPremium"></app-subscriptionpaypal>
  <!-- <section>
    <app-subscribe></app-subscribe>
  </section> -->
  
  <section >
    <app-slider  [slider1InputValue] = "sliderContainerMov" *ngIf="isPremium"></app-slider>
    <app-slider  [slider2InputValue] = "sliderContainerTv" *ngIf="isPremium"></app-slider>
  </section>
</ion-content>
