<ion-header [translucent]="true">
  <app-profilebar></app-profilebar>
  <!-- <ion-toolbar>
    <ion-button class="ion-margin-start" slot="start">
      <ion-icon style="font-size: 48px" name="play-circle"></ion-icon>
    </ion-button>
  </ion-toolbar> -->
  <ion-toolbar>
    <ion-buttons class="ion-margin-start" slot="start">
      <ion-icon style="font-size: 48px" name="play-circle"></ion-icon>
    </ion-buttons>
    <ion-title>
      Favorite Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    
  </ion-header>

  <app-subscriptionpaypal *ngIf="!isPremium"></app-subscriptionpaypal>
  
  <ion-grid *ngIf="isPremium">
    <ion-row>
      <ion-col *ngFor="let item of favMovContainer" size-lg="2" size-md="4" size-sm="6" size-xs="6">
        <app-card [id]="item.id" [title]="item.title" [image]="item.image" [premium]="item.premium" [model]="item.modelItem" (cardEventTrigger)="cardEventListener($event)"></app-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
