ion-button[color="dark"]{
    text-transform:lowercase;
}

ion-content {
    --background: url('/assets/icon/logo.jpeg');
}

ion-card {
    width: 150%;
    height: auto;
    justify-content: center;
}

.type-toggle {
    padding-right: 20%;
    font-size: 30px !important;
    justify-self: end;
}