<!-- <ion-header>
  <ion-toolbar>
    <ion-img src="/assets/icon/logo.jpeg"></ion-img>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <div class="container">
      <ion-item>
        <h1>Bringing You The Best Content From All Over The Globe</h1>
      </ion-item>
      
      <ion-card>
        <ion-button shape="round" size="full" color="dark" (click)="login()">Signin</ion-button>
        <hr>
        <ion-button shape="round" size="full" color="dark" (click)="register()">Signup</ion-button>
      </ion-card>
    </div>
    <ion-footer>DHANA</ion-footer>
  
</ion-content>
