<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Movie Platform</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <div class="container">
      <ion-label color="light">
        <ion-title class="platfom">
          Dhana Movies
        </ion-title>
      </ion-label> 
      <ion-item>
        <h1>Bringing You The Best Content From All Over The Globe</h1>
      </ion-item>
      
      <ion-card>
        <ion-button shape="round" size="full" color="dark" (click)="login()">Signin</ion-button>
        <hr>
        <ion-button shape="round" size="full" color="dark" (click)="register()">Signup</ion-button>
      </ion-card>
    </div>
    <ion-footer style="text-align: center; background: #f2f2f2; color: blue;" >Copyright 2023 <strong>Dhana Developers</strong></ion-footer>
  
</ion-content>
