<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModel()">close</ion-button>
    </ion-buttons>
  </ion-toolbar>
 
</ion-header>

<ion-content fullscreen="true">
  <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>

  <div *ngIf="isVideoEnabled">
    <video class="vid" 
    autoplay
    controls 
    src="{{videoUrl}}" 
    poster="{{backGroundImage}}"
    preload="{{preload}}"
    (ended)="this.getLoadedData($event)">
    </video>
  </div>
  
  <div *ngIf="!isVideoEnabled">
    <ion-img [src]="backGroundImage" alt="poster" style="margin: auto; width: 80%; height: 800px;"></ion-img>
  </div>
  
  <div>
    <div class="ion-margin-start">
      <ion-toolbar>
        <h3>{{title}}</h3>
        <ion-buttons *ngIf="!isVideoEnabled && videoUrl" slot="primary" >
          <ion-button color="secondary" (click)="playVideo()" *ngIf="!isPremium || subscribed"><ion-icon style="font-size: 40px;" name="play-circle-outline" ></ion-icon>
          </ion-button>
          <ion-button color="secondary" (click)="subscribe()" *ngIf="isPremium && !subscribed">Subscribe to Play Premium Movies</ion-button>
          <ion-button id="click-trigger" color="primary" *ngIf="isPremium && !subscribed">how to go premium?</ion-button>
          <ion-popover trigger="click-trigger" triggerAction="click">
            <ng-template>
              <ion-list class="ion-padding">
                <ol>
                  <li>click the subscribe button</li>
                  <li>view advanced features</li>
                  <li>select plan</li>
                  <li>select payment method</li>
                  <li>complete transaction</li>
                  <li>Done</li>
                </ol>
              </ion-list>
            </ng-template>
          </ion-popover>
        </ion-buttons>
      </ion-toolbar>
    </div>
    <div>
      <ion-toolbar>
        <div class="ion-margin-bottom">
          <ion-chip color="dark" outline>ReleaseDate: {{releaseDate}}</ion-chip>
          <ion-chip color="dark" outline>Duration: {{runtime}}</ion-chip>
          <ion-chip [color]="likechip" outline (click)="like(id)"><ion-icon [name]="likeicon"></ion-icon> <span>{{likes}}</span></ion-chip>
          <ion-chip [color]="dislikechip" outline (click)="unlike(id)"><ion-icon [name]="dislikeicon"></ion-icon> <span>{{dislikes}}</span></ion-chip>
          <ion-chip [color]="viewchip" outline><ion-icon name="eye-outline"></ion-icon> <span>{{views}}</span></ion-chip>
          <ion-chip color="secondary" outline (click)="addToFavorite()" *ngIf="!favUrl && subscribed"><ion-icon name="eye-outline"></ion-icon> <span>Add to favorites</span></ion-chip>
        </div>
      </ion-toolbar>
    </div>
    <div>
      <ion-card>
        <ion-card-header>Overview</ion-card-header>
        <ion-card-content>{{overview}}</ion-card-content>
      </ion-card>
    </div>
  </div>

  <ion-card *ngIf="castItemList.length > 0 ">
    <ion-item id="auto-trigger">
      <p>cast</p>
      <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
    </ion-item>
    <ion-popover trigger="auto-trigger">
      <ng-template class="ion-padding">
        <ion-list>
          <ion-list-header>
            <h3>Casting</h3>
          </ion-list-header>
          <ion-item *ngFor="let castItem of castItemList">
            <ion-avatar slot="start">
              <ion-icon style="font-size: 48px;" name="person"></ion-icon>
              <!--img *ngIf="castItem.get_poster; else personDefaultIcon" src="{{castItem.get_poster}}"-->
              <ng-template #personDefaultIcon>
                <ion-icon style="font-size: 48px;" name="person"></ion-icon>
              </ng-template>
            </ion-avatar>
            <ion-label>
              <h2>{{castItem.peron_name}}</h2>
              <h3>{{castItem.character_name}}</h3>
            </ion-label>
          </ion-item>
        </ion-list>
      </ng-template>
    </ion-popover>
    
  </ion-card>

  <ion-card *ngIf="crewItemList.length > 0 ">
    <ion-item id="auto-trigger">
        <p>crew</p>
        <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
    </ion-item>
    <ion-popover trigger="auto-trigger" >
      <ng-template>
        <ion-list class="ion-padding">
          <ion-list-header>
            <h3>Crew</h3>
          </ion-list-header>
          <ion-item *ngFor="let crewItem of castItemList">
            <ion-avatar slot="start">
              <ion-icon style="font-size: 48px;" name="person"></ion-icon>
              <!--img *ngIf="crewItem.get_poster; else personDefaultIcon" src="{{crewItem.get_poster}}"-->
              <ng-template #personDefaultIcon>
                <ion-icon style="font-size: 48px;" name="person-cicle-outline"></ion-icon>
              </ng-template>
            </ion-avatar>
            <ion-label>
              <h2>{{crewItem.person_name}}</h2>
              <h3>{{crewItem.department_name}}</h3>
            </ion-label>
          </ion-item>
        </ion-list>
      </ng-template>
    </ion-popover>
  </ion-card>

  <div *ngIf="commentsContainer.length > 0">
    <ion-card>
      <ion-card-header>Comments</ion-card-header>
      <ion-card-content>
        <ion-item fill="outline">
          <ion-label position="floating">Commenting as <strong>{{user.username}}</strong></ion-label>
          <ion-input type="text" maxlength="1000" placeholder="comment" [(ngModel)]="comment"></ion-input>
          <ion-button slot="end" (click)="submitComment()">submit</ion-button>
        </ion-item>
        <div>
          <ion-list *ngFor="let item of commentsContainer">
            <ion-item>
              <ion-title>
                {{item.user}}
              </ion-title>
              
              <ion-text>{{item.comment}}</ion-text>
            </ion-item>
          </ion-list>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <!--ion-grid fixed="true" *ngIf="recommendationContainer.length > 0">
    <ion-list>
      <ion-item>
        <ion-label style="font-size: 18px;">Recommendations</ion-label>
      </ion-item>
    

      <ion-row>
        <ion-col *ngFor="let item of recommendationContainer" size-lg="2" size-md="4" size-sm="6" size-xs="6">
          <app-card [title]="item.title" [image]="item.image" [model]="item.modelItem" [voterRating]="item.voterRating" (cardEventTrigger)="cardEventListener($event)"></app-card>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-grid-->
  
</ion-content>