.vid {
    width: 100%;
    height: auto;
    padding-top: 0%;
}

ion-alert .custom-alert {
    --backdrop-opacity: 0.1;
    --background: var(--ion-color-success);
    --color: var(--ion-color-success);
    // --color: var(--ion-color-success-contrast);
  } 